 
            
body, html, #root {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    margin: 0;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Roboto, Oxygen, Arial, "Apple Color Emoji", "Segoe UI Emoji",
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main[custom-agua-item="screen"] {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

section[custom-agua-item="layer"],
div[custom-agua-item="layer"],
nav[custom-agua-item="layer"],
header[custom-agua-item="layer"],
footer[custom-agua-item="layer"],
article[custom-agua-item="layer"],
aside[custom-agua-item="layer"],
button[custom-agua-item="layer"],
form[custom-agua-item="layer"] {
    display: flex;
    position: static;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-width: 0px;
    background: transparent;
}

p[custom-agua-item="text"],
h1[custom-agua-item="text"],
h2[custom-agua-item="text"],
h3[custom-agua-item="text"],
h4[custom-agua-item="text"],
h5[custom-agua-item="text"],
h6[custom-agua-item="text"],
a[custom-agua-item="text"],
ol[custom-agua-item="text"],
ul[custom-agua-item="text"] {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
    font-size: 18px;
    background: #000000;
    height: fit-content;
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

img[custom-agua-item="imageView"] {
    box-sizing: border-box;
    object-fit: contain;
    height: 90px;
    min-height: 90px;
    width: 115px;
    min-width: 115px;
}

span[custom-agua-item="icon"] {
    box-sizing: border-box;
    background-color: #000000;
    height: fit-content;
    width: fit-content;
    font-family: 'Material Symbols Rounded';
    background-clip: text;
    -webkit-background-clip: text  !important;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

:root {
	--HeaderBackgroundColor: #1D1D1F;
	--min-HeaderSizeVertical: 44px;
	--HeaderSizeVertical: 44px;
	--min-HeaderMarginHorizontal: 35px;
	--HeaderMarginHorizontal: 35px;

}
